body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.topbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  height: 3.5rem;
}

.breadcrumb {
  margin: 10px;
  padding: 10px;
  background-color: #e9e9e9;
  border-radius: 5px;
}

.breadcrumb a {
  text-decoration: none;
  color: #007bff;
  margin-right: 5px;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.file-list {
  list-style-type: none;
  padding: 0;
}

.file-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.file-list li:hover {
  background-color: #eee;
}

.directory-item {
  font-weight: bold;
}
